@charset "utf-8";

// Import brand font-size
@import url("https://use.typekit.net/wyg0qgn.css");

// Set brand colors
$pink: #ec008c;
$purple: #7d5aa1;

// Update Bulma's global variables
$primary: $pink;
$family-sans-serif: "Proxima Nova", sans-serif;
$navbar-item-hover-color: $primary !default;

// Import components from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";

// Overrides

.sso-custom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar {
  margin-bottom: 0px !important;
}

.sso-custom .navbar-brand {
    float: none;
    padding: 0px;
    height: unset;
}

.navbar-item, .navbar-link {
  color: #fff;
}

.navbar.is-black .navbar-start > a.navbar-item:hover {
  color: $primary !important;
}

.navbar-dropdown a.navbar-link {
    color: #4a4a4a !important;
}

.navbar-dropdown a.navbar-link:hover {
  color: $primary !important;
}

::selection {
    background: #ec008c !important;
}

#custom-account {
  display: none;
}

// Template Overrides
#bcg-main-header {
    display: none;
}

.site-container .main-header, .main-header-logo-container {
    height: 0px;
}

body {
  font-family: 'Proxima Nova', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Proxima Nova', sans-serif !important;
}

.home-carousel-description, .video-grid-description {
  font-family: 'Proxima Nova', sans-serif !important;
}

.main-nav a {
  font-size: 16px !important;
}

img.bc-image-loader {
  animation: none !important;
}

.video-grid-title {
  font-size: 16px !important;
}

a {
  text-decoration: none !important;
}

.section-title {
  font-size: 24px;
  text-transform: unset;
  letter-spacing: 1px;
}

.bcg-video-detail-description p {
  font-family: 'Proxima Nova', sans-serif !important;
}

// InPlayer Overrides
#inplayer-branded {
  display: none !important;
}

.inplayer-guest-footer span span {
  display: none;
}

.inplayer-guest-footer span span:before {
  display: none;
}

#inplayer-bc-plugin-preview button {
    background-color: #ec008c !important;
    font-family: 'Proxima Nova', sans-serif !important;
    border-radius: 4px !important;
}

#inplayer-bc-plugin-preview button:hover {
    background-color: #fff !important;
    color: #ec008c !important;
    font-family: 'Proxima Nova', sans-serif !important;
    border-radius: 4px !important;
}

#inplayer-bc-plugin-preview h2, #inplayer-bc-plugin-preview h4 {
    display: none !important;
}

#inplayer-menu-content {
  display: none !important;
}
