<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="animate-in">

    <div class="wrap">

      {{ content }}

    </div>

    <div class="sidebar is-dark">

      {% include mobile-menu.html %}

    </div>

    <!-- Scripts-->
    <script> </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script defer src="/assets/js/main.js"></script>

  </body>

</html>
